*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;/*as coisas que tão dentro vao ficar dentro*/
    overflow: hidden;/*Tudo que sair das delimitações da tela sumir*/
}

.pipe{
    margin: -18px;
    position: absolute; /*para nada atrapalhar na posição*/
    bottom: 0;
    width: 100px;
    
    animation: pipe-animation 2s infinite linear; /*linear: time fica constante */
}

.mario{
    width: 100px;
    position: absolute;
    bottom: 0;
    
}
.jump{
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {

   0%{
    bottom: 0;
   }
   40%{
    bottom: 180px;
   }

   50%{
    bottom: 180px;
   }

   60%{
    bottom: 180px;
   }

   100%{
    bottom: 0;
   }
}